@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html{
    scroll-behavior: smooth
  }
  
  body {
    @apply  bg-full-page bg-fixed relative;
  }

  button{
    @apply  transition-all duration-100 hover:scale-105  }

    input{
      @apply px-4 py-2  rounded-full focus:outline-none focus:ring;
    }
}

@layer utilities {
  .btn{
    @apply self-start px-4 py-2 text-sm capitalize rounded-md;
  }

  .max-w-2xl{
    @apply max-w-[1024px]
  }

  .btn-danger{
    @apply  bg-red-600 border-red-600 text-white;
  }



  .btn-primary{
    @apply border bg-violet-400 bg-violet-400 text-white
  }

  .btn-primary-outline{
    @apply border border-red-400 text-red-600
  }

  .input-group{
    @apply flex flex-col gap-4;
  }
}